/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------------------------------*/
html {
	height: 100%;
}

body {
	font-family: 'Open Sans', Arial, sans-serif;
	background-color: #daefef;
	height: 100%;
	color: #173f47;
}

.title {
	font-family: 'Merriweather Sans', Arial, sans-serif;
	font-size: 2.3em;
	padding: 22px 0;
	margin: 0 40px;
	display: inline-block;
	text-transform: uppercase;
	color: #173f47;
}

.navbar {
	margin: 10px 40px 40px 40px;
	padding: 20px 0;
	/*border-bottom: .5px solid white;*/
	float: right;
	background-color: #daefef;
}

.navbar li {
	display: inline-block;
	padding: 5px 18px 5px 18px;
	margin: 0 20px;
	font-size: 1em;
	font-family: 'Merriweather Sans', Arial, sans-serif;
	text-transform: uppercase;
}

.navbar a {
	text-decoration: none;
	color: #173f47;
}

.navbar-items a:hover {
	border-bottom: 4px solid #173f47;
}

.navbar-items a:active {
	color: #2f5c5c;
}

.home {
	height: 600px;
	position: relative;
}

.home img {
	display: block;
	margin: 60px auto;
	text-align: center;
	border: 10px double white;
}

.parallax {
	height: 100%;
	background-image: url("images/succulent.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.about-me {
	height: 100%;
	background-color: #daefef;
	margin: 40px 0 0;
}

.about-me h2 {
	font-size: 2.5em;
	font-family: 'Merriweather Sans', Arial, sans-serif;
	text-align: center;
	padding: 33px 0;
	margin-top: 30px;
	color: #173f47;
	background-color: #daefef;
}

.about-me p {
	font-size: 1.3em;
	text-align: center;
	margin: 0 auto;
	padding: 20px 15% 30px;
	/*border-top: 1px solid #173f47;
	border-bottom: 1px solid #173f47;*/
	line-height: 1.5;
	color: #173f47;
	background-color: #daefef;
}

.flex-container {					/*flex container*/
	display: flex;
	align-items: baseline;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0 auto;
	text-align: center;
	max-width: 100%;
	flex-direction: row;
	background-color: #daefef;
	padding: 0 66px;
	margin-bottom: 250px;
}

.portfolio h2 {
	font-size: 2.5em;
	font-family: 'Merriweather Sans', Arial, sans-serif;
	text-align: center;
	padding: 44px;
	display: block;
	color: #173f47;
	background-color: #daefef;
}

.portfolio img { 				/*flex item*/
	width: 30%;
	margin: 10px;
}

.portfolio img:hover {
	box-shadow: 0 0 10px gray;
}

.contact {
	height: 100%;
	margin: 40px 0 0;
}

.contact-title {
	font-family: 'Merriweather Sans', Arial, sans-serif;
	font-size: 2.5em;
	text-align: center;
	margin-top: 20px;
	padding: 20px 0;
	background-color: #daefef;
}

.contact p {
	font-size: 1.3em;
	text-align: center;
	line-height: 1.5;
	color: #173f47;
	background-color: #daefef;
	padding: 20px;
}

.sm {
	margin: 0 auto;
	text-align: center;
	padding: 20px 0 50px;
	background-color: #daefef;
}

.social-media {
	text-decoration: none;
	color: #173f47;
}

footer {
	font-size: .8em;
	text-decoration: none;
	text-align: center;
	padding: 10px;
	background-color: #daefef;
	font-weight: bold;
}

/*-----------------JS------------*/
.popup-overlay {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.75);
	z-index: 1;
}

.popup-overlay img {
	display: block;
	margin: 1px auto;
	text-align: center;
	height: 95%;
	padding: 1% 0;
}

.symbol {
	color: white;
	margin: 0 auto;
	text-align: center;
	background-color: rgba(0,0,0,0);
	position: absolute;
	bottom: 0;
	width: 100%;
}

.symbol i {
	border: 1px solid white;
	padding: 10px 20px;
	margin: 40px;
	animation: bounce 2s infinite;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	    -ms-border-radius: 50%;
	     -o-border-radius: 50%;
	        border-radius: 50%;
}

.symbol a {
	text-decoration: none;
	color: white;
}

@keyframes bounce {
	0%,20%, 70%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-18px);
	}
	85% {
		transform: translateY(-10px);
	}
}

/* --------- media queries -------*/
@media only screen and (max-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }

		.popup-overlay img {
			height: 80%;
			padding: 15% 0;
		}

		.flex-container {
			padding: 30px 0;
		}
}

@media only screen and (max-width:40em) {
	.popup-overlay img {
		height: 70%;
		padding: 30% 0;
	}

	.flex-container {
		padding: 0;
	}
}

/*
.row1,
.row2 {
	margin: 40px 80px;
}

.row1 img,
.row2 img {
	display: inline-block;
	margin: 0px 20px;
	width: 300px;
}

.row1 img:hover,
.row2 img:hover {
	box-shadow: 0 0 10px gray;
}*/


/*
form {
	display: block;
	margin: 0 auto;
	text-align: center;
}

input {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid gray;
	display: block;
	margin: 10px auto;
}

label {
	text-decoration: none;
	font-size: 1.1em;
	padding-top: 10px;
}

textarea {
	height: 100px;
	width: 200px;
	display: block;
	border-radius: 5px;
	margin: 10px auto;
}

button {
	padding: 10px;
	background-color: white;
	font-size: 1.2em;
	color: black;
	border: 1px solid gray;
	border-radius: 10px;
	text-transform: uppercase;
}
*/
